body {
    text-align: center;
    font-family: 'Questrial', sans-serif;
    background: #ffffff url('../images/background.png'); /* Background pattern from Subtle Patterns */
    background-repeat:no-repeat;
    background-position:center;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #ffffff url('../images/background.png'); /* Background pattern from Subtle Patterns */
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
}

.modal-content {
    margin: auto;
    margin-top: 70px;
    width: 50%;
    height: 50%;
}


.modal-over{
  font-size : 60px;
}

.modal-score, .modal-high{
  font-size: 20px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #22ff00;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
